* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(255, 255, 255);
  color: #000000;
}

.container {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}

.large {
  max-width: 750px;
}

.pickers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.wheelpicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheelpicker h3 {
  margin: 20px 0;
}

#name,
.input,
input[type="submit"] {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
}

.middle {
  display: none;
}

.js-add {
  user-select: none;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: rgb(145, 145, 145);
  cursor: pointer;
  width: 35px;
  font-size: 1.2em;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.js-preview {
  text-align: center;
  font-size: 1.25rem;
  word-wrap: break-word;
  margin: 10px 0;
}

.js-result {
  word-wrap: break-word;
  margin: 10px 0;
}